<a href="https://colab.research.google.com/github/yohanesnuwara/PalmCV/blob/main/Agrari_Detect.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import cv2

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
im_path = "/content/runs/detect/predict/Jeruk-27-3-tahun-utara_jpg.rf.f7064d8c38df4a98804dc39e7a10b15b.jpg"
im = cv2.imread(im_path)
im.shape

(4000, 2992, 3)

In [ ]:
import math

def yolobbox2bbox(x,y,w,h):
    x1, y1 = x-w/2, y-h/2
    x2, y2 = x+w/2, y+h/2
    return x1, y1, x2, y2

def calculate_object_size(object_length_pixel, object_width_pixel, focal_length, sensor_width, sensor_height, distance):
    
    actual_width = (object_width_pixel*focal_length)/(distance*sensor_width)
    actual_height = (object_length_pixel*focal_length)/(distance*sensor_height)
    
    actual_height_orange = math.sqrt(actual_width**2 + actual_height**2)
    return actual_width, actual_height

# # Parameters
object_width = 43  # pixel
object_height = 9  # pixel
focal_length = 35  # m/pixel
sensor_width = 5.6  # mm
sensor_height = 4.2  # mm
distance = 2 # m

x,y,w,h = 0.304294, 0.574778, 0.0359284, 0.0295322
# 0.320205,0.362305,0.0106235,0.00434094
# 0.105437,0.516622,0.0339967,0.0158977

x1, y1, x2, y2 = yolobbox2bbox(x,y,w,h)

object_height = abs(y2-y1)*4000
object_width = abs(x2-x1)*2992

actual_width, actual_height = calculate_object_size(object_height, object_width, focal_length, sensor_width, sensor_height, distance)

print("Real size: {} mm".format(actual_width))
print("Real size: {} mm".format(actual_height))
print(object_height)

# Print the results
# print("Actual Width: {:.2f} meters".format(actual_width))
# print("Actual Height: {:.2f} meters".format(actual_height))

Real size: 335.9305399999998 mm
Real size: 492.2033333333335 mm
118.12880000000004

In [ ]:
!unzip "/content/drive/MyDrive/Agrari AI/agrari_v1.v2-version_prelim2.yolov8.zip"

Archive:  /content/drive/MyDrive/Agrari AI/agrari_v1.v2-version_prelim2.yolov8.zip
 extracting: README.dataset.txt
 extracting: README.roboflow.txt
 extracting: data.yaml
   creating: test/
   creating: test/images/
 extracting: test/images/Jeruk-1-3-tahun-barat_jpg.rf.80a0e5960d22295f09b36517bce42b19.jpg
 extracting: test/images/Jeruk-11-3-tahun-selatan_jpg.rf.5dafd98c416259ac990be91528b0c78a.jpg
 extracting: test/images/Jeruk-13-3-tahun-selatan_jpg.rf.5e3eedd0220a3013b58fc69e397c02ef.jpg
 extracting: test/images/Jeruk-13-3-tahun-timur_jpg.rf.9676baa0298d329f9cc107feec7624f3.jpg
 extracting: test/images/Jeruk-14-3-tahun-barat_jpg.rf.d8ad238d11affdb408d7e475c7dc6372.jpg
 extracting: test/images/Jeruk-2-4-tahun-selatan_jpg.rf.8987ec8a867084dfa765d4a7e6ac36a6.jpg
 extracting: test/images/Jeruk-21-3-tahun-selatan_jpg.rf.1aad5f43c725b919b6086d345a0880d0.jpg
 extracting: test/images/Jeruk-22-3-tahun-barat_jpg.rf.bbde1088c0113e1d1ebe7fa14c35bf72.jpg
 extracting: test/images/Jeruk-22-3-tahun-selatan_jpg.rf.ebe4377bdee7a09939cd8abb433361de.jpg
 extracting: test/images/Jeruk-22-3-tahun-timur_jpg.rf.c7f1f0411f7b47b9efb72af41c9a1483.jpg
 extracting: test/images/Jeruk-23-3-tahun-barat_jpg.rf.c3f5aa68ca7749479ba9dd2743d63485.jpg
 extracting: test/images/Jeruk-25-3-tahun-selatan_jpg.rf.20409c7b324f9ac0925ad5584534d309.jpg
 extracting: test/images/Jeruk-27-3-tahun-selatan_jpg.rf.2ded26200d5ae975e276c3e4d83cb869.jpg
 extracting: test/images/Jeruk-27-3-tahun-utara_jpg.rf.f7064d8c38df4a98804dc39e7a10b15b.jpg
 extracting: test/images/Jeruk-28-3-tahun-utara_jpg.rf.e8f1072a0a97bbf05c783a5c11163d9e.jpg
 extracting: test/images/Jeruk-29-3-tahun-utara_jpg.rf.29760f6c6cf5ddefc2ce7b2af016e1c9.jpg
 extracting: test/images/Jeruk-30-3-tahun-barat_jpg.rf.5f64ea718fb0c059a5607cca96a3d912.jpg
 extracting: test/images/Jeruk-30-3-tahun-selatan_jpg.rf.230c5e981e926ef349e1a4679e010231.jpg
 extracting: test/images/Jeruk-7-5-tahun-timur_jpg.rf.c94f81effe8204f14afb924320af120b.jpg
   creating: test/labels/
 extracting: test/labels/Jeruk-1-3-tahun-barat_jpg.rf.80a0e5960d22295f09b36517bce42b19.txt
 extracting: test/labels/Jeruk-11-3-tahun-selatan_jpg.rf.5dafd98c416259ac990be91528b0c78a.txt
 extracting: test/labels/Jeruk-13-3-tahun-selatan_jpg.rf.5e3eedd0220a3013b58fc69e397c02ef.txt
 extracting: test/labels/Jeruk-13-3-tahun-timur_jpg.rf.9676baa0298d329f9cc107feec7624f3.txt
 extracting: test/labels/Jeruk-14-3-tahun-barat_jpg.rf.d8ad238d11affdb408d7e475c7dc6372.txt
 extracting: test/labels/Jeruk-2-4-tahun-selatan_jpg.rf.8987ec8a867084dfa765d4a7e6ac36a6.txt
 extracting: test/labels/Jeruk-21-3-tahun-selatan_jpg.rf.1aad5f43c725b919b6086d345a0880d0.txt
 extracting: test/labels/Jeruk-22-3-tahun-barat_jpg.rf.bbde1088c0113e1d1ebe7fa14c35bf72.txt
 extracting: test/labels/Jeruk-22-3-tahun-selatan_jpg.rf.ebe4377bdee7a09939cd8abb433361de.txt
 extracting: test/labels/Jeruk-22-3-tahun-timur_jpg.rf.c7f1f0411f7b47b9efb72af41c9a1483.txt
 extracting: test/labels/Jeruk-23-3-tahun-barat_jpg.rf.c3f5aa68ca7749479ba9dd2743d63485.txt
 extracting: test/labels/Jeruk-25-3-tahun-selatan_jpg.rf.20409c7b324f9ac0925ad5584534d309.txt
 extracting: test/labels/Jeruk-27-3-tahun-selatan_jpg.rf.2ded26200d5ae975e276c3e4d83cb869.txt
 extracting: test/labels/Jeruk-27-3-tahun-utara_jpg.rf.f7064d8c38df4a98804dc39e7a10b15b.txt
 extracting: test/labels/Jeruk-28-3-tahun-utara_jpg.rf.e8f1072a0a97bbf05c783a5c11163d9e.txt
 extracting: test/labels/Jeruk-29-3-tahun-utara_jpg.rf.29760f6c6cf5ddefc2ce7b2af016e1c9.txt
 extracting: test/labels/Jeruk-30-3-tahun-barat_jpg.rf.5f64ea718fb0c059a5607cca96a3d912.txt
 extracting: test/labels/Jeruk-30-3-tahun-selatan_jpg.rf.230c5e981e926ef349e1a4679e010231.txt
 extracting: test/labels/Jeruk-7-5-tahun-timur_jpg.rf.c94f81effe8204f14afb924320af120b.txt
   creating: train/
   creating: train/images/
 extracting: train/images/Jeruk-1-3-tahun-Selatan_jpg.rf.044770af32e1d89c76dc8e759a3d4f19.jpg
 extracting: train/images/Jeruk-10-8-tahun-barat_jpg.rf.eb00eed6fd0cc05772020d6510715784.jpg
 extracting: train/images/Jeruk-10-8-tahun-selatan_jpg.rf.555111acd0f8f4a36385c315d49a7b6b.jpg
 extracting: train/images/Jeruk-10-8-tahun-timur_jpg.rf.3ac139bae5728aaca16edbfc0fd1b9e9.jpg
 extracting: train/images/Jeruk-10-8-tahun-utara_jpg.rf.085a5b331de4949f128c7386d9682c3d.jpg
 extracting: train/images/Jeruk-11-3-tahun-barat_jpg.rf.e18b48316ffdbf667667b7c5d69688e1.jpg
 extracting: train/images/Jeruk-12-3-tahun-barat_jpg.rf.aea9c2f1ac218a21dabfaf18424c5ec9.jpg
 extracting: train/images/Jeruk-12-3-tahun-selatan_jpg.rf.3ffbb5b90e1e66ef671e54c319822921.jpg
 extracting: train/images/Jeruk-12-3-tahun-timur_jpg.rf.a33cf7d45e3d4cfa8c55eaa296eb9c57.jpg
 extracting: train/images/Jeruk-13-3-tahun-barat_jpg.rf.77f753853bf5ee27920b0737d91ffe0c.jpg
 extracting: train/images/Jeruk-13-3-tahun-utara_jpg.rf.b9160f5f4ee79c12b4c2f1d2f953e9c7.jpg
 extracting: train/images/Jeruk-14-3-tahun-timur_jpg.rf.c2ced4a9e31b4316d20ebb2ef9541dd9.jpg
 extracting: train/images/Jeruk-15-3-tahun-barat_jpg.rf.6e74075000821068ac19492c1b21bb8e.jpg
 extracting: train/images/Jeruk-15-3-tahun-selatan_jpg.rf.78c05f0728eca3f788159273fb3b588c.jpg
 extracting: train/images/Jeruk-16-3-tahun-barat_jpg.rf.00257ec4c9818560aad9820cce8bf032.jpg
 extracting: train/images/Jeruk-16-3-tahun-selatan_jpg.rf.ceaa8fca05720339044468c5a537516c.jpg
 extracting: train/images/Jeruk-16-3-tahun-timur_jpg.rf.c1d30617b7c781abb2d7b39906f545c7.jpg
 extracting: train/images/Jeruk-17-3-tahun-barat_jpg.rf.f171f15fefae457d5556f69e17afca3c.jpg
 extracting: train/images/Jeruk-17-3-tahun-selatan_jpg.rf.48982e60448cd8186b2295685ffe7c70.jpg
 extracting: train/images/Jeruk-17-3-tahun-timur_jpg.rf.5000843df3aa232e481dc804d09e278b.jpg
 extracting: train/images/Jeruk-17-3-tahun-utara_jpg.rf.afa4ad45341d5c59666cc3cddcaf6404.jpg
 extracting: train/images/Jeruk-18-3-tahun-barat_jpg.rf.5b60f18b6966de22a86c90d003bf1bff.jpg
 extracting: train/images/Jeruk-18-3-tahun-timur_jpg.rf.2458b9300128a658f45a67c49445fd78.jpg
 extracting: train/images/Jeruk-18-3-tahun-utara_jpg.rf.533ce5567bc1c4acdf07bee1ecbc5f2d.jpg
 extracting: train/images/Jeruk-19-3-tahun-selatan_jpg.rf.11f0e311598b0f1e727ec142857790ce.jpg
 extracting: train/images/Jeruk-19-3-tahun-timur_jpg.rf.23a046f6a78d8ff142b2d894de71610f.jpg
 extracting: train/images/Jeruk-19-3-tahun-utara_jpg.rf.c9d53065cc55b385fd80ff8abc957aff.jpg
 extracting: train/images/Jeruk-2-4-tahun-utara_jpg.rf.4a404614438d8f6ff79b31c7ebadef43.jpg
 extracting: train/images/Jeruk-20-3-tahun-selatan_jpg.rf.ee5a06a4c4e4964dfd6da50e43c54017.jpg
 extracting: train/images/Jeruk-20-3-tahun-utara_jpg.rf.39c122b7c659db6fadab8cfffc8385d0.jpg
 extracting: train/images/Jeruk-21-3-tahun-timur_jpg.rf.06730ac96ee163479bacf23e5e069cb4.jpg
 extracting: train/images/Jeruk-23-3-tahun-selatan_jpg.rf.16bcfb41f783a0d41ddcdde2feb8e439.jpg
 extracting: train/images/Jeruk-23-3-tahun-timur_jpg.rf.9fc4aafa63b95802cd1a7c19e8fbd844.jpg
 extracting: train/images/Jeruk-23-3-tahun-utara_jpg.rf.0d2cd7ed5d19dbdbe5aee89e34ffd1d4.jpg
 extracting: train/images/Jeruk-24-3-tahun-barat_jpg.rf.2859a6d0903f5d23fcfe52f673b13b19.jpg
 extracting: train/images/Jeruk-24-3-tahun-selatan_jpg.rf.26a2b536baa26d5f265afed830432d25.jpg
 extracting: train/images/Jeruk-24-3-tahun-timur_jpg.rf.fe5b930623e7e7ed066871be25b3f81c.jpg
 extracting: train/images/Jeruk-24-3-tahun-utara_jpg.rf.14796217ad16d1d1425f9b62a94b9903.jpg
 extracting: train/images/Jeruk-25-3-tahun-barat_jpg.rf.459fc7b418cdd954565641617e683d23.jpg
 extracting: train/images/Jeruk-25-3-tahun-timur_jpg.rf.89af05d9bc9c84f915aed5cb94369a2c.jpg
 extracting: train/images/Jeruk-25-3-tahun-utara_jpg.rf.5e332372f7e2acc400a09ae1cfd22d11.jpg
 extracting: train/images/Jeruk-26-3-tahun-barat_jpg.rf.cafea652ccb39faa4ea12a3031c05849.jpg
 extracting: train/images/Jeruk-26-3-tahun-selatan_jpg.rf.5af163875fa864b2fa13741f44eadfd3.jpg
 extracting: train/images/Jeruk-26-3-tahun-timur_jpg.rf.b7cd9e084e24e73007e3dad9c837972f.jpg
 extracting: train/images/Jeruk-26-3-tahun-utara_jpg.rf.e0ecff93317925c154c2326c91115e71.jpg
 extracting: train/images/Jeruk-27-3-tahun-barat_jpg.rf.5dcc66758882b3b8c302578e6e838c64.jpg
 extracting: train/images/Jeruk-27-3-tahun-timur_jpg.rf.3a913cb961d0b630d9db74b28c7a20dd.jpg
 extracting: train/images/Jeruk-28-3-tahun-barat_jpg.rf.f1bf9e309ab360e0ec6ce3ad57defb5c.jpg
 extracting: train/images/Jeruk-28-3-tahun-selatan_jpg.rf.46d093a03f3a46d22b58ea0f84ffaf26.jpg
 extracting: train/images/Jeruk-28-3-tahun-timur_jpg.rf.e2cff54dd53135e0c32e55ae2b1e84a0.jpg
 extracting: train/images/Jeruk-3-4-tahun-selatan_jpg.rf.fcf4110362d71c6a4f366a34cf90b607.jpg
 extracting: train/images/Jeruk-3-4-tahun-timur_jpg.rf.0e140f45e90f96edae66f54b7a78746d.jpg
 extracting: train/images/Jeruk-30-3-tahun-timur_jpg.rf.aa02c20c44af74ed1685a2d655d8d502.jpg
 extracting: train/images/Jeruk-30-3-tahun-utara_jpg.rf.97e86a4921ae468871d4f14e9c9e38ff.jpg
 extracting: train/images/Jeruk-4-4-tahun-selatan_jpg.rf.d46fa9062fc87afab0d5fd9cdab486c8.jpg
 extracting: train/images/Jeruk-4-4-tahun-utara_jpg.rf.1e5dddafda16b2c88a8534332cf9e452.jpg
 extracting: train/images/Jeruk-5-5-tahun-selatan_jpg.rf.638bf4ee71546f0303775658732ebb32.jpg
 extracting: train/images/Jeruk-5-5-tahun-timur_jpg.rf.cb069c85b540edc5c6471fc0163e33dc.jpg
 extracting: train/images/Jeruk-5-5-tahun-utara_jpg.rf.f0b6bd12e6ac41d8378fef8dd1e5e6a3.jpg
 extracting: train/images/Jeruk-6-5-tahun-barat_jpg.rf.1132be6703a0bc21482f52aa092754e0.jpg
 extracting: train/images/Jeruk-6-5-tahun-selatan_jpg.rf.6ee88e7504ecb09c3fcc677eeb16654b.jpg
 extracting: train/images/Jeruk-6-5-tahun-timur_jpg.rf.a523db73bca87e7742a588a48b24a770.jpg
 extracting: train/images/Jeruk-6-5-tahun-utara_jpg.rf.92ae31f944380dc179a96c6c31394519.jpg
 extracting: train/images/Jeruk-7-5-tahun-barat_jpg.rf.f4d904b0ab1397ab16d56a086bc5301f.jpg
 extracting: train/images/Jeruk-7-5-tahun-utara_jpg.rf.7c932c511b30313ed1859b59d72c65ad.jpg
 extracting: train/images/Jeruk-8-4-tahun-timur_jpg.rf.60a47f66bc3652724a593b26097d7773.jpg
 extracting: train/images/Jeruk-8-4-tahun-utara_jpg.rf.cc60fbf033999d4af58d8e9c68498921.jpg
 extracting: train/images/Jeruk-9-5-tahun-barat_jpg.rf.ac03510f4ab07f8d079fb2cdb0f80d19.jpg
 extracting: train/images/Jeruk-9-5-tahun-selatan_jpg.rf.c7daa0d601c6b694c194622695c1267b.jpg
 extracting: train/images/Jeruk-9-5-tahun-timur_jpg.rf.1e14482b42613ddfe37ec64dacf77a99.jpg
 extracting: train/images/Jeruk-9-5-tahun-utara_jpg.rf.91df11819d5c0dc95c0e13345c06ed5c.jpg
   creating: train/labels/
 extracting: train/labels/Jeruk-1-3-tahun-Selatan_jpg.rf.044770af32e1d89c76dc8e759a3d4f19.txt
 extracting: train/labels/Jeruk-10-8-tahun-barat_jpg.rf.eb00eed6fd0cc05772020d6510715784.txt
 extracting: train/labels/Jeruk-10-8-tahun-selatan_jpg.rf.555111acd0f8f4a36385c315d49a7b6b.txt
 extracting: train/labels/Jeruk-10-8-tahun-timur_jpg.rf.3ac139bae5728aaca16edbfc0fd1b9e9.txt
 extracting: train/labels/Jeruk-10-8-tahun-utara_jpg.rf.085a5b331de4949f128c7386d9682c3d.txt
 extracting: train/labels/Jeruk-11-3-tahun-barat_jpg.rf.e18b48316ffdbf667667b7c5d69688e1.txt
 extracting: train/labels/Jeruk-12-3-tahun-barat_jpg.rf.aea9c2f1ac218a21dabfaf18424c5ec9.txt
 extracting: train/labels/Jeruk-12-3-tahun-selatan_jpg.rf.3ffbb5b90e1e66ef671e54c319822921.txt
 extracting: train/labels/Jeruk-12-3-tahun-timur_jpg.rf.a33cf7d45e3d4cfa8c55eaa296eb9c57.txt
 extracting: train/labels/Jeruk-13-3-tahun-barat_jpg.rf.77f753853bf5ee27920b0737d91ffe0c.txt
 extracting: train/labels/Jeruk-13-3-tahun-utara_jpg.rf.b9160f5f4ee79c12b4c2f1d2f953e9c7.txt
 extracting: train/labels/Jeruk-14-3-tahun-timur_jpg.rf.c2ced4a9e31b4316d20ebb2ef9541dd9.txt
 extracting: train/labels/Jeruk-15-3-tahun-barat_jpg.rf.6e74075000821068ac19492c1b21bb8e.txt
 extracting: train/labels/Jeruk-15-3-tahun-selatan_jpg.rf.78c05f0728eca3f788159273fb3b588c.txt
 extracting: train/labels/Jeruk-16-3-tahun-barat_jpg.rf.00257ec4c9818560aad9820cce8bf032.txt
 extracting: train/labels/Jeruk-16-3-tahun-selatan_jpg.rf.ceaa8fca05720339044468c5a537516c.txt
 extracting: train/labels/Jeruk-16-3-tahun-timur_jpg.rf.c1d30617b7c781abb2d7b39906f545c7.txt
 extracting: train/labels/Jeruk-17-3-tahun-barat_jpg.rf.f171f15fefae457d5556f69e17afca3c.txt
 extracting: train/labels/Jeruk-17-3-tahun-selatan_jpg.rf.48982e60448cd8186b2295685ffe7c70.txt
 extracting: train/labels/Jeruk-17-3-tahun-timur_jpg.rf.5000843df3aa232e481dc804d09e278b.txt
 extracting: train/labels/Jeruk-17-3-tahun-utara_jpg.rf.afa4ad45341d5c59666cc3cddcaf6404.txt
 extracting: train/labels/Jeruk-18-3-tahun-barat_jpg.rf.5b60f18b6966de22a86c90d003bf1bff.txt
 extracting: train/labels/Jeruk-18-3-tahun-timur_jpg.rf.2458b9300128a658f45a67c49445fd78.txt
 extracting: train/labels/Jeruk-18-3-tahun-utara_jpg.rf.533ce5567bc1c4acdf07bee1ecbc5f2d.txt
 extracting: train/labels/Jeruk-19-3-tahun-selatan_jpg.rf.11f0e311598b0f1e727ec142857790ce.txt
 extracting: train/labels/Jeruk-19-3-tahun-timur_jpg.rf.23a046f6a78d8ff142b2d894de71610f.txt
 extracting: train/labels/Jeruk-19-3-tahun-utara_jpg.rf.c9d53065cc55b385fd80ff8abc957aff.txt
 extracting: train/labels/Jeruk-2-4-tahun-utara_jpg.rf.4a404614438d8f6ff79b31c7ebadef43.txt
 extracting: train/labels/Jeruk-20-3-tahun-selatan_jpg.rf.ee5a06a4c4e4964dfd6da50e43c54017.txt
 extracting: train/labels/Jeruk-20-3-tahun-utara_jpg.rf.39c122b7c659db6fadab8cfffc8385d0.txt
 extracting: train/labels/Jeruk-21-3-tahun-timur_jpg.rf.06730ac96ee163479bacf23e5e069cb4.txt
 extracting: train/labels/Jeruk-23-3-tahun-selatan_jpg.rf.16bcfb41f783a0d41ddcdde2feb8e439.txt
 extracting: train/labels/Jeruk-23-3-tahun-timur_jpg.rf.9fc4aafa63b95802cd1a7c19e8fbd844.txt
 extracting: train/labels/Jeruk-23-3-tahun-utara_jpg.rf.0d2cd7ed5d19dbdbe5aee89e34ffd1d4.txt
 extracting: train/labels/Jeruk-24-3-tahun-barat_jpg.rf.2859a6d0903f5d23fcfe52f673b13b19.txt
 extracting: train/labels/Jeruk-24-3-tahun-selatan_jpg.rf.26a2b536baa26d5f265afed830432d25.txt
 extracting: train/labels/Jeruk-24-3-tahun-timur_jpg.rf.fe5b930623e7e7ed066871be25b3f81c.txt
 extracting: train/labels/Jeruk-24-3-tahun-utara_jpg.rf.14796217ad16d1d1425f9b62a94b9903.txt
 extracting: train/labels/Jeruk-25-3-tahun-barat_jpg.rf.459fc7b418cdd954565641617e683d23.txt
 extracting: train/labels/Jeruk-25-3-tahun-timur_jpg.rf.89af05d9bc9c84f915aed5cb94369a2c.txt
 extracting: train/labels/Jeruk-25-3-tahun-utara_jpg.rf.5e332372f7e2acc400a09ae1cfd22d11.txt
 extracting: train/labels/Jeruk-26-3-tahun-barat_jpg.rf.cafea652ccb39faa4ea12a3031c05849.txt
 extracting: train/labels/Jeruk-26-3-tahun-selatan_jpg.rf.5af163875fa864b2fa13741f44eadfd3.txt
 extracting: train/labels/Jeruk-26-3-tahun-timur_jpg.rf.b7cd9e084e24e73007e3dad9c837972f.txt
 extracting: train/labels/Jeruk-26-3-tahun-utara_jpg.rf.e0ecff93317925c154c2326c91115e71.txt
 extracting: train/labels/Jeruk-27-3-tahun-barat_jpg.rf.5dcc66758882b3b8c302578e6e838c64.txt
 extracting: train/labels/Jeruk-27-3-tahun-timur_jpg.rf.3a913cb961d0b630d9db74b28c7a20dd.txt
 extracting: train/labels/Jeruk-28-3-tahun-barat_jpg.rf.f1bf9e309ab360e0ec6ce3ad57defb5c.txt
 extracting: train/labels/Jeruk-28-3-tahun-selatan_jpg.rf.46d093a03f3a46d22b58ea0f84ffaf26.txt
 extracting: train/labels/Jeruk-28-3-tahun-timur_jpg.rf.e2cff54dd53135e0c32e55ae2b1e84a0.txt
 extracting: train/labels/Jeruk-3-4-tahun-selatan_jpg.rf.fcf4110362d71c6a4f366a34cf90b607.txt
 extracting: train/labels/Jeruk-3-4-tahun-timur_jpg.rf.0e140f45e90f96edae66f54b7a78746d.txt
 extracting: train/labels/Jeruk-30-3-tahun-timur_jpg.rf.aa02c20c44af74ed1685a2d655d8d502.txt
 extracting: train/labels/Jeruk-30-3-tahun-utara_jpg.rf.97e86a4921ae468871d4f14e9c9e38ff.txt
 extracting: train/labels/Jeruk-4-4-tahun-selatan_jpg.rf.d46fa9062fc87afab0d5fd9cdab486c8.txt
 extracting: train/labels/Jeruk-4-4-tahun-utara_jpg.rf.1e5dddafda16b2c88a8534332cf9e452.txt
 extracting: train/labels/Jeruk-5-5-tahun-selatan_jpg.rf.638bf4ee71546f0303775658732ebb32.txt
 extracting: train/labels/Jeruk-5-5-tahun-timur_jpg.rf.cb069c85b540edc5c6471fc0163e33dc.txt
 extracting: train/labels/Jeruk-5-5-tahun-utara_jpg.rf.f0b6bd12e6ac41d8378fef8dd1e5e6a3.txt
 extracting: train/labels/Jeruk-6-5-tahun-barat_jpg.rf.1132be6703a0bc21482f52aa092754e0.txt
 extracting: train/labels/Jeruk-6-5-tahun-selatan_jpg.rf.6ee88e7504ecb09c3fcc677eeb16654b.txt
 extracting: train/labels/Jeruk-6-5-tahun-timur_jpg.rf.a523db73bca87e7742a588a48b24a770.txt
 extracting: train/labels/Jeruk-6-5-tahun-utara_jpg.rf.92ae31f944380dc179a96c6c31394519.txt
 extracting: train/labels/Jeruk-7-5-tahun-barat_jpg.rf.f4d904b0ab1397ab16d56a086bc5301f.txt
 extracting: train/labels/Jeruk-7-5-tahun-utara_jpg.rf.7c932c511b30313ed1859b59d72c65ad.txt
 extracting: train/labels/Jeruk-8-4-tahun-timur_jpg.rf.60a47f66bc3652724a593b26097d7773.txt
 extracting: train/labels/Jeruk-8-4-tahun-utara_jpg.rf.cc60fbf033999d4af58d8e9c68498921.txt
 extracting: train/labels/Jeruk-9-5-tahun-barat_jpg.rf.ac03510f4ab07f8d079fb2cdb0f80d19.txt
 extracting: train/labels/Jeruk-9-5-tahun-selatan_jpg.rf.c7daa0d601c6b694c194622695c1267b.txt
 extracting: train/labels/Jeruk-9-5-tahun-timur_jpg.rf.1e14482b42613ddfe37ec64dacf77a99.txt
 extracting: train/labels/Jeruk-9-5-tahun-utara_jpg.rf.91df11819d5c0dc95c0e13345c06ed5c.txt
   creating: valid/
   creating: valid/images/
 extracting: valid/images/Jeruk-1-3-tahun-timur_jpg.rf.46f2ad1bb9ecf19b8f708b4aa9a066c3.jpg
 extracting: valid/images/Jeruk-1-3-tahun-utara_jpg.rf.5b1230df6025df2f30f21f085702ceb8.jpg
 extracting: valid/images/Jeruk-11-3-tahun-timur_jpg.rf.de96de38a5392715b6aa98e792a84230.jpg
 extracting: valid/images/Jeruk-11-3-tahun-utara_jpg.rf.abb4b4cd876bc204c179d794572e4c98.jpg
 extracting: valid/images/Jeruk-12-3-tahun-utara_jpg.rf.2708bce28e00bdde1e566904deabe03c.jpg
 extracting: valid/images/Jeruk-14-3-tahun-selatan_jpg.rf.4a38defcd611f8299d66fb9c37836330.jpg
 extracting: valid/images/Jeruk-14-3-tahun-utara_jpg.rf.40fcb42a65905ee710145796e01df543.jpg
 extracting: valid/images/Jeruk-15-3-tahun-timur_jpg.rf.5670fd8d3c3a18366dc685a5b469a47b.jpg
 extracting: valid/images/Jeruk-15-3-tahun-utara_jpg.rf.d7666744f2d796127868214950d620b9.jpg
 extracting: valid/images/Jeruk-16-3-tahun-utara_jpg.rf.f5ddf08b83d2eecc73c973e48e999c70.jpg
 extracting: valid/images/Jeruk-18-3-tahun-selatan_jpg.rf.b86710d681234c52d2c6412160ea8ea8.jpg
 extracting: valid/images/Jeruk-19-3-tahun-barat_jpg.rf.a7e6252042665a19426fab0e99637415.jpg
 extracting: valid/images/Jeruk-2-4-tahun-barat_jpg.rf.2c60c62f701225fb16b1dbddf34b6804.jpg
 extracting: valid/images/Jeruk-2-4-tahun-timur_jpg.rf.dec09267edb9be34bee1d5130236759b.jpg
 extracting: valid/images/Jeruk-20-3-tahun-barat_jpg.rf.7689cfbd23142a42dbc4483d1bda1ef4.jpg
 extracting: valid/images/Jeruk-20-3-tahun-timur_jpg.rf.6ee4f290eb6991c09084086350aac4c1.jpg
 extracting: valid/images/Jeruk-21-3-tahun-barat_jpg.rf.5c384174b8f4d58a098bb52d11d80c96.jpg
 extracting: valid/images/Jeruk-21-3-tahun-utara_jpg.rf.0c01bea87120e58406698af412cbe816.jpg
 extracting: valid/images/Jeruk-22-3-tahun-utara_jpg.rf.012125760b25e0f944300e9124c27d0e.jpg
 extracting: valid/images/Jeruk-29-3-tahun-selatan_jpg.rf.917edd61c7c566e9150617eed26f63dc.jpg
 extracting: valid/images/Jeruk-29-3-tahun-timur_jpg.rf.fd31e806f6e1e98a5570f9d2c19bca8f.jpg
 extracting: valid/images/Jeruk-3-4-tahun-barat_jpg.rf.78db0990d4970180dcd8417334e65009.jpg
 extracting: valid/images/Jeruk-3-4-tahun-utara_jpg.rf.bf8d7c03b4836cb4657a01bcb49e563f.jpg
 extracting: valid/images/Jeruk-4-4-tahun-barat_jpg.rf.8446659394eba6dbcaa0390b24b44f23.jpg
 extracting: valid/images/Jeruk-4-4-tahun-timur_jpg.rf.c4296842c60f32f1d9744a913f8668c1.jpg
 extracting: valid/images/Jeruk-5-5-tahun-barat_jpg.rf.ef57edece89866d1dd37ac07db3fd4bb.jpg
 extracting: valid/images/Jeruk-7-5-tahun-selatan_jpg.rf.b3f0caf1509fdc26542aa154e12e53d3.jpg
 extracting: valid/images/Jeruk-8-4-tahun-barat_jpg.rf.a5803c0952852193bd719653520ad199.jpg
 extracting: valid/images/Jeruk-8-4-tahun-selatan_jpg.rf.3af4019b82e921697be4a9841a496528.jpg
   creating: valid/labels/
 extracting: valid/labels/Jeruk-1-3-tahun-timur_jpg.rf.46f2ad1bb9ecf19b8f708b4aa9a066c3.txt

In [ ]:
!wget https://zenodo.org/record/7896865/files/epoch35.pt?download=1

--2023-05-08 13:20:20--  https://zenodo.org/record/7896865/files/epoch35.pt?download=1
Resolving zenodo.org (zenodo.org)... 188.185.124.72
Connecting to zenodo.org (zenodo.org)|188.185.124.72|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 349979644 (334M) [application/octet-stream]
Saving to: ‘epoch35.pt?download=1’

epoch35.pt?download 100%[===================>] 333.77M  3.38MB/s    in 5m 4s

2023-05-08 13:25:27 (1.10 MB/s) - ‘epoch35.pt?download=1’ saved [349979644/349979644]

In [ ]:
!mv "/content/epoch35.pt?download=1" "/content/epoch35.pt"

In [ ]:
# Pip install method (recommended)
%pip install ultralytics
import ultralytics
ultralytics.checks()

Ultralytics YOLOv8.0.94 🚀 Python-3.10.11 torch-2.0.0+cu118 CPU
Setup complete ✅ (2 CPUs, 12.7 GB RAM, 24.1/107.7 GB disk)

In [ ]:
# Git clone method (for development)
!git clone https://github.com/ultralytics/ultralytics
%pip install -qe ultralytics

Cloning into 'ultralytics'...
remote: Enumerating objects: 7815, done.
remote: Counting objects: 100% (1419/1419), done.
remote: Compressing objects: 100% (815/815), done.
remote: Total 7815 (delta 818), reused 1011 (delta 584), pack-reused 6396
Receiving objects: 100% (7815/7815), 5.89 MiB | 7.91 MiB/s, done.
Resolving deltas: 100% (5172/5172), done.
  Preparing metadata (setup.py) ... done

In [ ]:
!yolo predict model='/content/epoch35.pt' source='/content/test/images' save_txt=True save=True

Ultralytics YOLOv8.0.94 🚀 Python-3.10.11 torch-2.0.0+cu118 CPU
Model summary (fused): 268 layers, 43618173 parameters, 0 gradients, 164.9 GFLOPs

image 1/19 /content/test/images/Jeruk-1-3-tahun-barat_jpg.rf.80a0e5960d22295f09b36517bce42b19.jpg: 640x320 2 pw0_muluss, 1 pw100_mulus, 1491.2ms
image 2/19 /content/test/images/Jeruk-11-3-tahun-selatan_jpg.rf.5dafd98c416259ac990be91528b0c78a.jpg: 640x320 3 pw0_muluss, 1858.0ms
image 3/19 /content/test/images/Jeruk-13-3-tahun-selatan_jpg.rf.5e3eedd0220a3013b58fc69e397c02ef.jpg: 640x320 (no detections), 2396.1ms
image 4/19 /content/test/images/Jeruk-13-3-tahun-timur_jpg.rf.9676baa0298d329f9cc107feec7624f3.jpg: 640x320 17 pw0_muluss, 1 pw25_mulus, 1436.5ms
image 5/19 /content/test/images/Jeruk-14-3-tahun-barat_jpg.rf.d8ad238d11affdb408d7e475c7dc6372.jpg: 640x320 1 pw0_mulus, 1 pw100_KH, 3 pw100_muluss, 1358.4ms
image 6/19 /content/test/images/Jeruk-2-4-tahun-selatan_jpg.rf.8987ec8a867084dfa765d4a7e6ac36a6.jpg: 640x320 1 pw0_mulus, 1 pw100_mulus, 1325.7ms
image 7/19 /content/test/images/Jeruk-21-3-tahun-selatan_jpg.rf.1aad5f43c725b919b6086d345a0880d0.jpg: 640x480 1 pw0_mulus, 1916.2ms
image 8/19 /content/test/images/Jeruk-22-3-tahun-barat_jpg.rf.bbde1088c0113e1d1ebe7fa14c35bf72.jpg: 640x480 2 jeruk_kecils, 5 pw0_muluss, 1 pw50_KH, 2 pw75_KHs, 1 pw75_mulus, 1932.5ms
image 9/19 /content/test/images/Jeruk-22-3-tahun-selatan_jpg.rf.ebe4377bdee7a09939cd8abb433361de.jpg: 640x480 4 jeruk_kecils, 10 pw0_muluss, 3171.4ms
image 10/19 /content/test/images/Jeruk-22-3-tahun-timur_jpg.rf.c7f1f0411f7b47b9efb72af41c9a1483.jpg: 640x480 1 jeruk_kecil, 9 pw0_muluss, 1 pw25_mulus, 2291.6ms
image 11/19 /content/test/images/Jeruk-23-3-tahun-barat_jpg.rf.c3f5aa68ca7749479ba9dd2743d63485.jpg: 640x480 2 jeruk_kecils, 1 pw0_mulus, 1968.2ms
image 12/19 /content/test/images/Jeruk-25-3-tahun-selatan_jpg.rf.20409c7b324f9ac0925ad5584534d309.jpg: 640x480 5 jeruk_kecils, 19 pw0_muluss, 1 pw100_KH, 4 pw100_muluss, 2 pw75_KHs, 1920.9ms
image 13/19 /content/test/images/Jeruk-27-3-tahun-selatan_jpg.rf.2ded26200d5ae975e276c3e4d83cb869.jpg: 640x480 3 pw0_muluss, 1 pw100_mulus, 1963.9ms
image 14/19 /content/test/images/Jeruk-27-3-tahun-utara_jpg.rf.f7064d8c38df4a98804dc39e7a10b15b.jpg: 640x480 2 pw0_muluss, 2 pw75_KHs, 2780.3ms
image 15/19 /content/test/images/Jeruk-28-3-tahun-utara_jpg.rf.e8f1072a0a97bbf05c783a5c11163d9e.jpg: 640x480 6 jeruk_kecils, 11 pw0_muluss, 1 pw100_KH, 1 pw100_mulus, 1 pw75_KH, 2709.2ms
image 16/19 /content/test/images/Jeruk-29-3-tahun-utara_jpg.rf.29760f6c6cf5ddefc2ce7b2af016e1c9.jpg: 640x480 1 jeruk_kecil, 7 pw0_muluss, 2 pw25_muluss, 1949.2ms
image 17/19 /content/test/images/Jeruk-30-3-tahun-barat_jpg.rf.5f64ea718fb0c059a5607cca96a3d912.jpg: 640x480 (no detections), 1932.5ms
image 18/19 /content/test/images/Jeruk-30-3-tahun-selatan_jpg.rf.230c5e981e926ef349e1a4679e010231.jpg: 640x480 (no detections), 1927.2ms
image 19/19 /content/test/images/Jeruk-7-5-tahun-timur_jpg.rf.c94f81effe8204f14afb924320af120b.jpg: 640x320 1 pw100_KH, 1 pw25_mulus, 1323.9ms
Speed: 4.2ms preprocess, 1981.7ms inference, 2.3ms postprocess per image at shape (1, 3, 640, 640)
Results saved to runs/detect/predict
16 labels saved to runs/detect/predict/labels

In [ ]:
class_names = ['jeruk_kecil', 'pw0_KH', 'pw0_KK', 'pw0_mulus', 'pw100_KH', 'pw100_KK', 'pw100_Sakit', 'pw100_mulus', 'pw25_KH', 'pw25_mulus', 'pw50_KH', 'pw50_mulus', 'pw75_KH', 'pw75_KK', 'pw75_mulus']
class_codes = np.arange(len(class_names))

df_class = pd.DataFrame({"name": class_names, "code": class_codes})

df_class

           name  code
0   jeruk_kecil     0
1        pw0_KH     1
2        pw0_KK     2
3     pw0_mulus     3
4      pw100_KH     4
5      pw100_KK     5
6   pw100_Sakit     6
7   pw100_mulus     7
8       pw25_KH     8
9    pw25_mulus     9
10      pw50_KH    10
11   pw50_mulus    11
12      pw75_KH    12
13      pw75_KK    13
14   pw75_mulus    14

In [ ]:
im_path = "/content/runs/detect/predict/Jeruk-27-3-tahun-utara_jpg.rf.f7064d8c38df4a98804dc39e7a10b15b.jpg"
im = cv2.imread(im_path)
im.shape

(4000, 2992, 3)

In [ ]:
# Define the camera's focal length in millimeters
focal_length_mm = 26.5

# Define the distance from the camera to the object in meters
distance_m = 2.0

# Get the normalized width and height outputs from YOLOv5
normalized_width = 0.0359284
normalized_height = 0.0295322

# Convert the focal length from millimeters to meters
focal_length_m = focal_length_mm / 1000.0

# Calculate the real size of the object using the focal length
object_width_m = (normalized_width * distance_m * focal_length_m) / normalized_width
object_height_m = (normalized_height * distance_m * focal_length_m) / normalized_height

object_width_m, normalized_width

# # Convert the real size from meters to centimeters
# object_width_cm = object_width_m * 100.0
# object_height_cm = object_height_m * 100.0

# # Print the real size of the object
# print("Object Width (cm):", object_width_m)
# print("Object Height (cm):", object_height_m)

(0.053, 0.032398)

In [ ]:
focal_length_mm = 26.5
distance_m = 3

path = "/content/test/labels/Jeruk-1-3-tahun-barat_jpg.rf.80a0e5960d22295f09b36517bce42b19.txt"
df_result = pd.read_csv(path, delimiter=" ", names=["code", "x", "y", "w", "h"])

# Calculate volume of every orange (ellipsoid approach)
df_result['w_real'] = (df_result['w'] * distance_m * focal_length_mm) / 10.0
df_result['h_real'] = (df_result['h'] * distance_m * focal_length_mm) / 10.0

# Map class code to class name
df_result['name'] = df_result['code'].map(df_class.set_index('code')['name'])

df_result

,code,x,y,w,h,w_real,h_real,name
0,3,0.475648,0.524906,0.032398,0.016704,0.257564,0.132796,pw0_mulus
1,10,0.306051,0.525843,0.031847,0.013232,0.253183,0.105192,pw50_KH
2,3,0.329536,0.309261,0.017934,0.009427,0.142573,0.074945,pw0_mulus
3,3,0.495770,0.382542,0.021694,0.012512,0.172466,0.099474,pw0_mulus
4,3,0.703969,0.387143,0.015694,0.007309,0.124766,0.058107,pw0_mulus
...,...,...,...,...,...,...,...,...
74,0,0.844276,0.333671,0.008454,0.004013,0.067210,0.031903,jeruk_kecil
75,0,0.831964,0.333385,0.008010,0.003440,0.063681,0.027348,jeruk_kecil
76,0,0.825332,0.339206,0.009485,0.004695,0.075403,0.037325,jeruk_kecil
77,0,0.816893,0.335982,0.009755,0.003978,0.077553,0.031626,jeruk_kecil
78,0,0.679679,0.521701,0.011847,0.004908,0.094183,0.039020,jeruk_kecil

In [ ]:
df_result['name'] = df_result['code'].map(df_class.set_index('code')['name'])

df_result

    code         x         y         w         h         name
0      3  0.475648  0.524906  0.032398  0.016704    pw0_mulus
1     10  0.306051  0.525843  0.031847  0.013232      pw50_KH
2      3  0.329536  0.309261  0.017934  0.009427    pw0_mulus
3      3  0.495770  0.382542  0.021694  0.012512    pw0_mulus
4      3  0.703969  0.387143  0.015694  0.007309    pw0_mulus
..   ...       ...       ...       ...       ...          ...
74     0  0.844276  0.333671  0.008454  0.004013  jeruk_kecil
75     0  0.831964  0.333385  0.008010  0.003440  jeruk_kecil
76     0  0.825332  0.339206  0.009485  0.004695  jeruk_kecil
77     0  0.816893  0.335982  0.009755  0.003978  jeruk_kecil
78     0  0.679679  0.521701  0.011847  0.004908  jeruk_kecil

[79 rows x 6 columns]